apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: proxy
  name: proxy
  namespace: openai-proxy
spec:
  replicas: 10
  selector:
    matchLabels:
      io.kompose.service: proxy
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 5
  template:
    metadata:
      labels:
        io.kompose.service: proxy
    spec:
      containers:
        - image: ghcr.io/fhswf/openai-proxy:sha-a3d2ab6
          name: proxy
          ports:
            - containerPort: 3000
          resources:
            limits:
              memory: 2Gi
              cpu: 500m
            requests:
              memory: 512Mi
              cpu: 250m
          env:
            - name: DEBUG
              valueFrom:
                configMapKeyRef:
                  key: debug
                  name: proxy-config
            - name: API_PREFIX
              valueFrom:
                configMapKeyRef:
                  key: api.prefix
                  name: proxy-config
            - name: API_URL
              valueFrom:
                configMapKeyRef:
                  key: api.url
                  name: proxy-config
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  key: api.key
                  name: proxy-secrets
            - name: RATE_LIMIT
              valueFrom:
                configMapKeyRef:
                  key: api.rate_limit
                  name: proxy-config
            - name: BASE_URL
              valueFrom:
                configMapKeyRef:
                  key: api.base_url
                  name: proxy-config
            - name: ISSUER
              valueFrom:
                configMapKeyRef:
                  key: oidc.issuer
                  name: proxy-config
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: oidc.client_id
                  name: proxy-secrets
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: oidc.client_secret
                  name: proxy-secrets
            - name: NODE_EXTRA_CA_CERTS
              value: /etc/certs/geant.crt
            - name: REDIRECT_URIS
              valueFrom:
                configMapKeyRef:
                  key: oidc.redirect_uris
                  name: proxy-config
            - name: POST_LOGOUT_REDIRECT_URI
              valueFrom:
                configMapKeyRef:
                  key: oidc.post_logout_redirect_uri
                  name: proxy-config
          livenessProbe:
            httpGet:
              path: /ip
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          volumeMounts:
            - name: ca-certs
              mountPath: /etc/certs
      volumes:
        - name: ca-certs
          configMap:
            name: proxy-config
            items:
              - key: node.extra_ca_certs
                path: geant.crt
      restartPolicy: Always
status: {}
